#contact .row {
    margin: 0;
}

#contact .row #contactImg {
    padding: 0;
    background: linear-gradient(
    rgba(121, 85, 72, 0.9), 
    rgba(255, 255, 255, 0.9)),
    url("../img/menu/mainmenu.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#contactCont {
    min-height: 75vh;
    position: relative !important;
}

#contactCont {
    position: absolute;
    width: 100%;
    top: 20%;
}

#square {
    height: 250px;
    width: 250px;
    border: 6px solid #363F54;
    position: absolute;
    top: 10%;
    left: 45%;
    transform: translate(-55%);
    transform: rotate(30deg);
}

#contact h1 {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 50px !important;
    z-index: 1000;
    transform: translate(-50%);
    font-weight: 600 !important;
    letter-spacing: 7px;
    color: #363F54 !important;
}

#contactCont p {
    position: absolute;
    top: 25%;
    right: 0;
    margin-right: 25px;
    max-width: 40vh;
    font-weight: 600;
    color: #8A99C0;
    line-height: 28px;
}

#contactCont form {
    position: absolute;
    top: 55%;
}

@media (max-width: 600px) {
    #square {
        height: 150px;
        width: 150px;
        border: 6px solid #333;
        position: absolute;
        top: 37.5%;
        left: 45%;
        transform: translate(-55%);
        transform: rotate(30deg);
        opacity: 0.1;
    }

    #contact .row #contactImg {
        min-width: 100%;
        min-height: 30vh;
    }

    h1 {
        top: 42.5%;
        left: 50%;
        font-size: 50px !important;
    }

    #menuToggler svg {
        stroke: white;
    }
}