body {
    overflow-x: hidden !important;
}

#contact {
    margin-bottom: 25px;
}

#contact div {
 
}

#contact .row {
    margin: 0;
}

#contact .row #contactImg {
    padding: 0;
    background: linear-gradient(
    rgba(255, 255, 255, 0.4), 
    rgba(255, 255, 255, 1)),
    url("../img/contact/contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#contact .row #contactImg h5 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 14px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

#contactCont {
    min-height: 60vh;
    position: relative !important;
    width: 100%;
}

#contactCont {
    position: absolute;
    width: 100%;
    top: 20%;
}

#square {
    height: 250px;
    width: 250px;
    border: 6px solid #363F54;
    position: absolute;
    top: 10%;
    left: 45%;
    transform: translate(-55%);
    transform: rotate(30deg);
    opacity: 0.1;
}

#contact h1 {
    text-align: center;
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 50px !important;
    z-index: 1000;
    transform: translate(-50%);
    font-weight: 600 !important;
    letter-spacing: 7px;
    color: #363F54 !important;
}

#contactCont p {
    position: absolute;
    top: 25%;
    right: 0;
    padding-right: 20px;
    margin-right: 25px;
    margin-left: 5px;
    max-width: 45vh;
    font-weight: 600;
    color: #8A99C0;
    line-height: 28px;
    letter-spacing: 1px;
    border-right: 3px solid #10ddc2;
}

#contactCont form {
    position: absolute;
    top: 65%;
    width: 100%;
}

#contactCont .materialize-textarea {
    margin-bottom: 7.5px;
}

#contactCont .input-field {
    min-width: 50%;
}

#contactCont #sendMessage {
    float: right;
    background-color: #10ddc2;
    letter-spacing: 2px;
    line-height: 1;
    margin-right: 10px;
}

#contactCont .input-field input:focus, #contactCont .input-field textarea:focus  {
    border-bottom: 1px solid #10ddc2;
    box-shadow: 0 1px 0 0 #10ddc2;
}

@media (min-height: 1025px) {
    #contactCont p {
        top: 35%;
    }
}

@media (min-height: 1000px) {
    #contact h1 {
        top: 20%;
    }
}

@media (max-width: 1000px) {
    #square {
        opacity: 0.1;
    }
}

@media (max-width: 750px) {
    #contact h1 {
        left: 35%;
    }

    #square {
        height: 200px;
        width: 200px;
        top: 17.5%;
        left: 27.5%;
        opacity: 0.1;
    }
}

@media (max-width: 600px) {
    #square {
        height: 150px;
        width: 150px;
        border: 6px solid #333;
        position: absolute;
        top: 37.5%;
        left: 15%;
        transform: translate(-55%);
        transform: rotate(30deg);
        opacity: 0.1;
    }

    #contact .row #contactImg {
        min-width: 100%;
        min-height: 45vh;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }

    #contactCont h1 {
        top: 50% !important;
        left: 50%;
        font-size: 50px !important;
    }

    #menuToggler svg {
        stroke: white;
    }

    #contactCont p {
        position: absolute;
        top: 5%;
        right: 0;
        max-width: 90%;
        margin-left: 10px;
    }

    #contactCont form {
        top: 22.5%;
    }

    #contactCont p {
        top: 0%;
    }
}

@media (max-height: 550px) {
    #contactCont form {
        top: 60%;
    }

    #contactCont p {
        max-width: 55%;
    }
}

@media (max-height: 480px) {
    #contactCont form {
        top: 50%;
    }

    #contact {
        margin-bottom: 200px;
    }
}

@media (max-height: 350px) {
    #contactCont form {
        top: 85%;
    }
}

@media (max-width: 350px) {
    #contact h1 {
        padding-left: 15px !important;
        font-size: 40px !important;
    }

    #contactCont p {
        min-width: 90% !important;
    }
}