footer {
    border-top: 1px solid #f5f5f5;
    color: #8898aa;
    line-height: 30px;
}

footer a {
    color: #8898aa !important;
}

footer #footerRow {
    margin-top: 75px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

footer #footerRow div {
    min-height: 175px;
}

footer #footerRow h5 {
    font-weight: 400;
}

footer #languages ul li a {
    font-size: 16px;
    font-weight: 400;
    color: #10ddc2;
}

footer #languages ul li {
    margin-bottom: 15px;
}

footer #languages ul .copyright {
    position: absolute;
    bottom: 0;
    color: #cfd7df;
}

#semanta {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    color: #cfd7df;
    font-weight: 300 !important;
    font-size: 14px;
    letter-spacing: 3px;
}

@media screen and (max-width: 600px) {
    footer #footerRow div {
        max-width: 50%;
    }
}
