header {
    position: relative;
    height: 80vh;
    background: linear-gradient(
    rgba(121, 85, 72, 0.9), 
    rgba(0, 0, 0, 0.7)),
    url("../img/history/landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header h1 {
    padding-top: 30vh;
    font-size: 54px;
    text-align: center;
    font-family: 'Vidaloka', serif;
    color: white;
    letter-spacing: 5px;
  }

  header p {
      text-align: center;
      color: white;
      opacity: 0.5;
      padding-top: 10px;
  }

  header #readMoreBtn {
    cursor: pointer;
  }


header #readMoreBtn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.9;
    cursor: pointer;
    padding: 100px;
}

  #historySection {
      min-height: 150vh;
  }

  #historySection h2 {
    padding: 30vh 0;
    padding-bottom: 30px;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color: #212121;
  }

  #historySection p {
      padding-bottom: 30px;
      padding-top: 50px;
  }

  #historySection img {
      margin-bottom: 40px;
  }

  #historySection .part p {
      z-index: 1000;
  }

  .part  .partId h3 {
      font-size: 150px;
  }

  .part .partId {
      position: absolute;
      right: -10%;
      z-index: -1;
      opacity: 0.1;
      color: grey;
  }

  .part h5 {
      text-align: center !important;
      margin-bottom: 10px;
      font-size: 18px;
  }
  
  header #headerSvg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }

  @media (max-width: 1700px) {
    .storyContainer {
        max-width: 60% !important;
      }
  }


  @media (max-width: 699px) {
    .svg--lg {
      display: none;
    }
  }
  
  @media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
  }

  @media (max-width: 600px) {
      .storyContainer {
        max-width: 95% !important;
      }
  }