@import url('https://fonts.googleapis.com/css?family=Quicksand|Open+Sans');

header {
    position: relative;
    height: 100vh;
    background: linear-gradient(
    rgba(121, 85, 72, 0.9), 
    rgba(0, 0, 0, 0.7)),
    url("../img/history/landing.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
  }

  #historyIntro {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  
  header h1 {
    padding-top: 27.5vh;
    font-size: 54px;
    text-align: center;
    font-family: 'Vidaloka', serif;
    color: white;
    letter-spacing: 5px;
  }

  header p {
      text-align: center;
      color: white;
      opacity: 0.5;
      padding-top: 10px;
      font-family: 'Open Sans', sans-serif;
  }

  header #readMoreBtn img {
    height: 75px;
    filter: invert(100%);
    position: relative;
    transition: ease-in-out;
    animation-name: scrollMe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes scrollMe {
    0%   {    top: 0px;    }
    25% {    top: 0px;    }
    50%  {    top: -10px;    }
    75%  {    top: 10px;    }
    100% {    top: 0px;    }
  }

header #readMoreBtn {
    position: absolute;
    bottom: -7.5%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.9;
    cursor: pointer;
    padding: 100px;
    z-index: 1000;
    margin-bottom: 50px;
}

.storyContainer {
  margin-top: 15vh;
}

  #historySection {
      min-height: 150vh;
  }

  #historySection h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 70px;
    font-size: 50px;
    font-weight: 400;
    text-align: left;
    color: #212121;
    font-weight: 600;
  }

  #historySection p {
      padding-bottom: 30px;
      padding-top: 50px;
  }

  #historySection img {
      margin-bottom: 40px;
  }

  #historySection .part p {
      z-index: 1000;
      font-size: 18px;
      line-height: 1.6;
  }


  .part h5 {
      text-align: center !important;
      margin-bottom: 10px;
      font-size: 16px;
  }
  
  header #headerSvg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }

  #progressBar {
    position: fixed;
    top: 0;
    height: 3px;
    width: 0%;
    background-color: #80cbc4;
    z-index: 1000;
  }

  #quote {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 120px;
    margin-top: 50px;
    opacity: 0.5;
  }

  #quote h4 {
    font-weight: 300;
  }

   #quote h5 {
    font-weight: 100;
  }

  #backToTop {
    text-align: center;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
    margin-top: 15vh;
  }

  #backToTop:hover > svg {
    animation-name: toTop;
    animation-duration: 1s;
  }

  #backToTop svg {
    position: relative;
    top: 0;
  }

  #backToTop h5 {
    color: #8898aa;
    left: 2px;
    font-weight: 300;
  }

  @keyframes toTop {
    0%   {    top: 0px;    }
    50%  {    top: -10px;    }
    100% {    top: 0px;    }
  }
}

.storyContainer {
  max-width: 67.5% !important;
}

  @media (max-width: 1700px) {
    .storyContainer {
        max-width: 60% !important;
      }
  }

  @media (max-width: 770px) {

    #historyIntro h1 {
      font-size: 45px;
    }

    #historyIntro p {
      max-width: 80%;
      margin: 0 auto;
    }
}
 
  @media (min-width: 700px) {
    .svg--sm {
      display: none;
    }
  }

  @media (max-width: 700px) {

      .svg--lg {
        display: none;
      }

      .svg--sm {
        display: none;
      }

      header #readMoreBtn {
        bottom: -10%;
      }

      #historyHeader {
        height: 100vh;
      }

      header h1 {
        padding-top: 32.5vh;
      }
  }

  @media (max-width: 600px) {
    .storyContainer {
      max-width: 90% !important;
    }
  }