#lookBookImg {
    background: linear-gradient(
    rgba(121, 85, 72, 0.5), 
    rgba(0, 0, 0, 0.5)),
    url("../img/lookbook/lookbook.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 100vh;
    min-height: 100vh;
}

#lookBookCont {
    margin-top: 75px;
    min-height: 100vh;
}

#lookBookHeader {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%);
    padding-left: 25px;
    border-left: 2px solid #CFB53B;
    min-height: 100px;
}

#lookBookHeader h1 {
    font-weight: 800;
    letter-spacing: 5px;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 0;
}

#lookBookHeader h3 {
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    margin-top: -5px;
    font-weight: 100;
}

#lookBookHeader #lookBookYear {
    font-size: 160px;
    color: white;
    opacity: 0.2;
    font-weight: 800;
    position: absolute;
    bottom: -115%;
    left: 50%;
    transform: translate(-50%);
    margin-left: 30px;
}

#lookBookMenu {
    position: absolute;
    top: 7.5%;
    margin-left: 25%;
    color: #363F54;
}

#lookBookMenu h5 {
    font-size: 12px;
    font-weight: 400;
    padding-top: 25px;
    opacity: 0.7;
    letter-spacing: 2px;
}

#lookBookMenu #lookBookCategories h2 span {
    font-weight: 200;
    font-size: 35px;
    margin-right: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #CFB53B;
    letter-spacing: 0px;
}

#lookBookMenu #lookBookCategories h2  {
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 90px;
    cursor: pointer;
}

#lookBookMenu svg {
    opacity: 0.6;
}

#arrowDown {
    margin-top: 25px;
    opacity: 1 !important;
    transition: ease-in-out 0.3s;
}

#lookBookMenu #lookBookCategories h2:hover .categorySpan  {
    display: inline-block;
}

.categorySpan {
    display: none;
    border-bottom: none !important;
    padding-left: 25px;
    height: 50%;
    border-right: 1.5px solid #CFB53B;
    line-height: 90px;
    padding-bottom: 0 !important;
    height: 100% !important;
}

.hiddenSpan {
    opacity: 0;
}

#seeAllCategories {
    cursor: pointer;
}

#seeAllCategories:hover #arrowDown {
    margin-top: 45px;
    stroke: #CFB53B;
}

@media (min-height: 615px) {
    #lookBookCont {
        margin-top: 25px;
        min-height: 130vh;
    }

    #lookBookMenu #lookBookCategories h2  {
        font-size: 20px;
    }

    #lookBookMenu #lookBookCategories h2 span {
        font-size: 25px;
    }
}

@media (max-width: 1100px) {
    #lookBookHeader #lookBookYear {
        font-size: 140px;
        bottom: -100%;
        margin-left: 10px;
    }
}

@media (max-width: 900px) {
    #lookBookHeader #lookBookYear {
        font-size: 120px;
        bottom: -80%;
        margin-left: 5px;
    }

    #lookBookHeader h1 {
        font-size: 42px;
    }
}

@media (max-width: 768px) {
    .flex-s {
        display: flex;
        flex-direction: column;
    }

    #lookBookCont {
        order: 2;
    }

    #lookBookHeader h1 {
        font-weight: 800;
        letter-spacing: 5px;
        color: white;
        font-size: 50px;
        text-transform: uppercase;
        margin-top: -10px;
        margin-bottom: 0;
    }
    
    #lookBookHeader #lookBookYear {
        font-size: 160px;
        color: white;
        opacity: 0.2;
        font-weight: 800;
        position: absolute;
        bottom: -115%;
        left: 50%;
        transform: translate(-50%);
        margin-left: 30px;
    }

    #lookBookMenu {
        margin-left: 30%;
    }

    #lookBookMenu #lookBookCategories h2 span {
        font-weight: 200;
        font-size: 35px;
        margin-right: 25px;
        padding-bottom: 10px;
        border-bottom: 2px solid #CFB53B;
        letter-spacing: 0px;
    }
    
    #lookBookMenu #lookBookCategories h2  {
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
        line-height: 90px;
        cursor: pointer;
    }
}