#lookBookImg {
    background: linear-gradient(
    rgba(121, 85, 72, 0.5), 
    rgba(0, 0, 0, 0.5)),
    url("../img/lookbook/lookbook.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#lookBookCont {
    margin-top: 75px;
    min-height: 100vh;
}

#lookBookHeader {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-50%);
    padding-left: 25px;
    border-left: 2px solid #CFB53B;
    min-height: 100px;
}

#lookBookHeader h1 {
    font-weight: 800;
    letter-spacing: 5px;
    color: white;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: -10px;
    margin-bottom: 0;
}

#lookBookHeader h3 {
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    margin-top: -5px;
    font-weight: 100;
}

#lookBookHeader #lookBookYear {
    font-size: 160px;
    color: white;
    opacity: 0.2;
    font-weight: 800;
    position: absolute;
    bottom: -115%;
    left: 50%;
    transform: translate(-50%);
    margin-left: 30px;
}

#lookBookMenu {
    position: absolute;
    top: 10%;
    margin-left: 20%;
    color: #363F54;
}

#lookBookMenu h5 {
    font-size: 12px;
    font-weight: 400;
    padding-top: 25px;
    opacity: 0.7;
    letter-spacing: 2px;
}

#lookBookMenu #lookBookCategories h2 span {
    font-weight: 200;
    font-size: 35px;
    margin-right: 25px;
    padding-bottom: 10px;
    border-bottom: 2px solid #CFB53B;
    letter-spacing: 0px;
}

#lookBookMenu #lookBookCategories h2  {
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 90px;
}

#lookBookMenu svg {
    opacity: 0.6;
}

#arrowDown {
    margin-top: 25px;
    opacity: 1 !important;
}