body {
    overflow-x: hidden;
}

#hero {
    position: absolute;
    top: 40%;
    left: 7.5%;
    color: white;
}

#heroText {
    max-width: 60%;
}

.landingCont {
    min-width: 100% !important;
    min-height: 100vh;
    margin: 0 !important;
}

video {
    min-width: 100% !important;
}

.carouselCont {
    padding: 0 !important;
}