@import url('https://fonts.googleapis.com/css?family=Vidaloka');

body {
    overflow-x: hidden;
}

#hero {
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
    z-index: 1000;
}

#hero h1 {
    font-size: 70px;
    letter-spacing: 5px;
    font-family: 'Vidaloka', serif;
}

#heroText {
    max-width: 50%;
}

.landingCont {
    min-width: 100% !important;
    min-height: 100vh;
    margin: 0 !important;
}

video {
    min-width: 100% !important;
}

.carouselCont {
    padding: 0 !important;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
    rgba(255, 255, 255, 0.9), 
    rgba(0, 0, 0, 0.5));
    z-index: 2;
}

.caption {
    z-index: 10000;
}

#landingProgress {
    height: 3px;
    background-color: #dde2e3;
    width: 0;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    opacity: 0.7;
}
