#hero {
    position: absolute;
    top: 40%;
    left: 0;
    color: white;
}

#heroText {
    max-width: 60%;
}

.parallax-container {
    height: 100vh;
}

.overlay{
    display: block;
    position: relative;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
    rgba(20, 20, 20, 0.5), 
    rgba(0, 0, 0, 1));
}
