@import url('https://fonts.googleapis.com/css?family=Vidaloka');

body {
    overflow-x: hidden;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#topNav {
    z-index: 1000;
    box-shadow: none;
}

#topNav .navbar-brand {
    font-size: 30px;
    letter-spacing: 2.5px;
    font-family: 'Vidaloka', serif;
    margin-left: 15px;
    color: #212121;
    transition: ease-in 0.3s;
}

#topNav .navbar-brand:hover, #topNav #menuToggler:hover {
    opacity: 0.5;
}

#topNav #menuToggler {
    color: #212121;
    list-style: none;
    margin-right: 15px;
    transition: ease-in 0.3s;
    cursor: pointer;
    margin-top: 20px;
}

#hero {
    position: absolute;
    top: 40%;
    left: 15%;
    color: white;
    z-index: 1000;
}

#hero h1 {
    font-size: 70px;
    letter-spacing: 5px;
    font-family: 'Vidaloka', serif;
}

#heroText {
    max-width: 50%;
}

.landingCont {
    min-width: 100% !important;
    min-height: 100vh;
    margin: 0 !important;
}

video {
    min-width: 100% !important;
}

.carouselCont {
    padding: 0 !important;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
    rgba(255, 255, 255, 1), 
    rgba(0, 0, 0, 0.5));
    z-index: 2;
}

.caption {
    z-index: 10000;
}

#landingProgress {
    height: 3px;
    background-color: #dde2e3;
    width: 0;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    opacity: 0.7;
    transition: background-color 0.3s ease-in-out;
}
