@import url('https://fonts.googleapis.com/css?family=Vidaloka|Modern+Antiqua|Poiret+One|Merriweather|Lekton');

body {
    overflow-x: hidden !important;
}

p {
    line-height: 1.8;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#topNav {
    z-index: 1337000;
    box-shadow: none;
    color: #212121;
    margin-top: 5px;
    position: fixed;
    top: 0;
}

#topNav svg {
    transition: ease-in-out 0.3s;
}

.topNavOnBg {
    color: white !important;
}

.topNavOnBg .navbar-brand {
    color: white !important;
}

.topNavOnBg svg {
    stroke: white !important;
}

.topNavOffBg {
    transition: ease-in-out 0.3s;
    color: #212121;
}

.topNavOffBg .navbar-brand {
    color: #212121 !important;
}

.topNavOffBg svg {
    stroke: #212121;
}

#topNav .navbar-brand {
    font-size: 30px;
    letter-spacing: 2.5px;
    font-family: 'Vidaloka', serif;
    margin-left: 15px;
    color: #212121;
    transition: ease-in 0.3s;
}

#topNav .navbar-brand img {
    height: 50px;
    margin-top: 5px;
}

#topNav .navbar-brand:hover {
    opacity: 0.5;
}

#topNav #menuToggler {
    list-style: none;
    margin-right: 15px;
    transition: ease-in 0.3s;
    cursor: pointer;
    margin-top: 20px;
    z-index: 10000000;
}

#hero {
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%);
    color: white;
    z-index: 1000;
    text-align: center;
}

#hero h1 {
    font-size: 5vw;
    letter-spacing: 5px;
    font-family: 'Vidaloka', serif;
}

#heroText {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    opacity: 0.8;
}

.landingCont {
    min-width: 100% !important;
    min-height: 100vh;
    margin: 0 !important;
}

video {
    min-width: 100% !important;
}

.carouselCont {
    padding: 0 !important;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
    rgba(20, 20, 20, 0.7), 
    rgba(20, 20, 20, 0.7));
    z-index: 2;
}

.caption {
    z-index: 10000;
}

#landingProgress {
    height: 3px;
    background-color: #dde2e3;
    width: 0;
    position: absolute;
    bottom: 0;
    z-index: 1000;
    opacity: 0.7;
    transition: background-color 0.3s ease-in-out;
}

#loadingScreen {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 10000000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #48466d;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#loadingScreen #loadingHero {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#loadingScreen #loadingHero h1 {
    font-size: 3.25vw;
    letter-spacing: 5px;
    font-family: 'Vidaloka', serif;
    color: white;
}

.lds-ripple {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.6s;
  }
  @keyframes lds-ripple {
    0% {
      top: 28px;
      left: 28px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: -1px;
      left: -1px;
      width: 58px;
      height: 58px;
      opacity: 0;
    }
  }
  

.menuOverlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    display: none;
    overflow: hidden;
    background-color: #212121;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#menuBg {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed; /* Stay in place */
    z-index: 9000; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #212121;
    background: linear-gradient(
    rgba(121, 85, 72, 0.9), 
    rgba(0, 0, 0, 0.7)),
    url("../img/menu/mainmenu.jpg");
    background-size: cover;
    background-position: center;
	background-repeat: no-repeat;
    transform: scale(1.2);
}

.menuOverlay-content {
    z-index: 1000000;
    position: relative;
    top: 20%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.menuOverlay a {
    padding: 12px;
    text-decoration: none;
    font-size: 5vw;
    color: #ffffff;
    letter-spacing: 2px;
    display: block; /* Display block instead of inline */
    transition: ease-in-out 0.4s; /* Transition effects on hover (color) */
    margin: 0 auto;
    font-weight: 100;
}

.menuOverlay a span {
    display: none;
}

/* When you mouse over the navigation links, change their color */
.menuOverlay a:hover {
    color: #f1f1f1;
}

#socialMedia {
    position: absolute;
    left: 15px;
    bottom: 5px;
    z-index: 1000000;
}

#socialMedia a {
    display: inline-block;
    padding: 0;
    transition: ease-in-out 0.3s;
}

#socialMedia a:hover {
    opacity: 0.5;
}

#socialMedia svg {
    margin-right: 10px;
}

#socialMedia h5 {
    color: white;
    font-size: 15.5px;
}

#hashtag {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1000000;
}

#hashtag h5 {
    font-size: 18px;
    transition: ease-in-out 0.3s;
    color: white;
    margin-right: 10px;
    letter-spacing: 2px;
}

#developedBy a:hover {
    opacity: 0.5;
}

#hero img {
    max-height: 175px;
    width: auto;
}

#explore {
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid white;
    line-height: 1;
    margin-top: 50px;
    width: 250px;
    height: 50px;
    color: white;
    font-weight: 400;
    letter-spacing: 4px;
    -webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
    transition: ease-in-out 0.3s;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


#explore:hover {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}

#mainSection {
    min-height: 100vh;
    display: none;
}

#mainSection #mainHero {
    height: 55vh;
    position: relative;
    background: linear-gradient(
    rgba(20, 20, 20, 0.5), 
    rgba(20, 20, 20, 0.5)),
    url("../img/landing/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
}

#mainSection #mainHero h5 {
    color: white;
    position: absolute;
    bottom: 5%;
    margin-left: 30px;
    font-size: 12px;
    font-weight: 100;
    letter-spacing: 2px;
    opacity: 1;
}

#mainSectionIntro {
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: none;
    position: relative;
}

#mainSectionIntro h5 {
    color: #9e9e9e;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#mainSectionIntro h2 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 5px;
    margin-bottom: 0;
}

.introLine {
    height: 200px;
    width: 1px;
    background-color: #212121;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.2;
}

@keyframes line {
    from { height: 0px; }
    to {height: 200px; }
}

#sections {
    display: none;
    margin-bottom: 20vh;
}

#section1, #section2, #section3, #section4 {
    margin-bottom: 10vh;
    margin-top: 10vh;
    position: relative;
}

#section1 .para1 {
    min-height: 450px;
    max-width: 700px;
    background-image: url('../img/landing/fjordbuda1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 5%;
}

#section1 .intro1 {
    height: 200px;
    min-width: 400px;
    background-color: white;
    position: absolute;
    top: 15%;
    right: 4%;
    transform: translate(-4%);
}

.intro {
    padding: 40px;
}

.intro h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: 600;
}

.intro h5 {
    color: #757575;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 2px;
}

.intro button {
    background-color: transparent;
    box-shadow: none;
    color: #212121;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1px;
    border: 4px solid #e0e0e0; 
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    transition: ease-in 0.4;
}

.intro button:hover {
    border: 4px solid #212121 !important;
    background-color: transparent !important;
}

#section2 .para2 {
    min-height: 600px;
    max-width: 500px;
    background-image: url('../img/landing/lookbook1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 40%;
}

#section2 .intro2 {
    height: 200px;
    min-width: 400px;
    background-color: white;
    position: absolute;
    top: 15%;
    left: 12%;
    transform: translate(-12%);
}

#section3 .para3 {
    min-height: 600px;
    max-width: 700px;
    background-image: url('../img/landing/historie1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 10%;
}

#section3 .intro3 {
    height: 200px;
    min-width: 400px;
    background-color: white;
    position: absolute;
    top: 15%;
    right: 7.5%;
    transform: translate(-7.5%);
}

#section4 .para4 {
    min-height: 450px;
    max-width: 650px;
    background-image: url('../img/landing/kontakt1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 40%;
}

#section4 .intro4 {
    height: 200px;
    min-width: 400px;
    background-color: white;
    position: absolute;
    top: 15%;
    right: 52.5%;
    transform: translate(-52.5%);
}

@media (max-width: 999px) {
    #mainSection .container {
        max-width: 975px !important;
    }

    #section1 .para1 {
        min-height: 450px;
        max-width: 600px;
        background-image: url('../img/landing/fjordbuda1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 5%;
    }
    
    #section1 .intro1 {
        height: 200px;
        min-width: 400px;
        background-color: white;
        position: absolute;
        top: 15%;
        right: 4%;
        transform: translate(-4%);
    }

    #section3 .para3 {
        min-height: 600px;
        max-width: 500px;
        background-image: url('../img/landing/historie1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10%;
    }
    
    #section3 .intro3 {
        height: 200px;
        min-width: 400px;
        background-color: white;
        position: absolute;
        top: 15%;
        right: 7.5%;
        transform: translate(-7.5%);
    }

    #section4 .para4 {
        min-height: 450px;
        max-width: 500px;
        margin-left: 30%;
    }
    
    #section4 .intro4 {
        height: 200px;
        min-width: 400px;
        background-color: white;
        position: absolute;
        top: 15%;
        right: 35%;
        transform: translate(-35%);
    }
}

@media (max-width: 800px) {
    #mainSection .container {
        max-width: 975px !important;
    }

    #section1 .para1 {
        min-height: 450px;
        max-width: 500px;
        background-image: url('../img/landing/fjordbuda1.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 5%;
    }

    #section4 .para4 {
        min-height: 450px;
        max-width: 410px;
        margin-left: 40%;
    }
    
    #section4 .intro4 {
        height: 200px;
        min-width: 400px;
        background-color: white;
        position: absolute;
        top: 15%;
        right: 35%;
        transform: translate(-35%);
    }
}

@media (max-width: 700px) {
    #section1 .para1 {
        max-width: 90%;
        margin: 0 auto;
    }
    
    #section1 .intro1 {
        top: -15%;
        right: 15%;
        min-width: 70%;
        max-width: 70%;
        transform: translate(-15%);
    }
    
    #section2 .para2 {
        max-width: 90%;
        margin: 0 auto;
    }
    
    #section2 .intro2 {
        top: -15%;
        left: 15%;
        min-width: 70%;
        max-width: 70%;
        transform: translate(-15%);
    }

    #section3 .para3 {
        max-width: 90%;
        margin: 0 auto;
    }
    
    #section3 .intro3 {
        top: -15%;
        right: 15%;
        min-width: 70%;
        max-width: 70%;
        transform: translate(-15%);
    }
    
    #section4 .para4 {
        max-width: 90%;
        margin: 0 auto;
    }
    
    #section4 .intro4 {
        top: -15%;
        right: 15%;
        min-width: 70%;
        max-width: 70%;
        transform: translate(-15%);
    }
}

@media (max-width: 500px) {

    #section1, #section2, #section3, #section4 {
        margin-bottom: 5vh;
        margin-top: 15vh;
    }

    .intro {
        text-align: center;
    }

    #section1 .para1 {
        max-width: 95%;
    }
    
    #section1 .intro1 {
        min-width: 85%;
        max-width: 85%;
        right: 7.5%;
        transform: translate(-7.5%);
    }
    
    #section2 .para2 {
        max-width: 95%;
    }
    
    #section2 .intro2 {
        min-width: 85%;
        max-width: 85%;
        left: 7.5%;
        transform: translate(-7.5%);
    }

    #section3 .para3 {
        max-width: 95%;
    }
    
    #section3 .intro3 {
        min-width: 85%;
        max-width: 85%;
        right: 7.5%;
        transform: translate(-7.5%);
    }
    
    #section4 .para4 {
        max-width: 95%;
    }
    
    #section4 .intro4 {
        min-width: 85%;
        max-width: 85%;
        right: 7.5%;
        transform: translate(-7.5%);
    }
}

@media screen and (min-width: 900px) {

    .menuOverlay a {
        font-size: 42px;
    }
}

@media screen and (max-width: 600px) {
    .menuOverlay a {
        font-size: 30px;
    }

    .menuOverlay-content {
        top: 27.5%;
    }

    #topNav {
        position: absolute;
        background-color: transparent !important;
    }
}

@media screen and (max-height: 650px) {
    .menuOverlay-content {
        top: 11%;
    }
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .menuOverlay a {
        font-size: 25px;
    }
}

@media screen and (max-height: 500px) {
    .menuOverlay-content {
        top: 12%;
    }
}

@media screen and (max-width: 400px) {

    #hero {
        top: 20%;
        left: 0;
    }

    #hero h1 {
        font-size: 40px;
    }

    #hero #heroText {
        max-width: 100%;
    }

    .menuOverlay a {
        font-size: 22.5px;
    }
}

@media screen and (max-width: 350px) {
    #hashtaga {
        font-size: 14px;
        padding-bottom: 6px;
        padding-right: 0;
    }
}