#showcase {
    min-height: 100vh;
    margin-top: 150px;
    margin-bottom: 10vh;
}

#showcaseHero h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    letter-spacing: 5px;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
}

#showcaseHero p {
    max-width: 60%;
    margin: 0 auto;
    color: #9e9e9e;
    margin-bottom: 75px;
}

#galleryCont {
    margin-top: 150px !important;
}

#brandLogo {
    max-height: 200px;
    max-width: 30vw;
    width: auto;
    opacity: 0.1;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 15px;
}

#showcaseBorder {
    height: 3px;
    width: 200px;
    margin: 0 auto;
    background-color: #CFB53B;
}

#galleryCont img {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

@media (min-width: 1000px) {
    #galleryCont {
        max-width: 80%;
        margin: 0 auto;
    }
}