#storesHeader {  
    background: linear-gradient(
    rgba(121, 85, 72, 0.9), 
    rgba(0, 0, 0, 0.7)),
    url("../img/stores/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#storesHeader #selectStore {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

#storesHeader #selectStoreRow {
    background-color: rgba(255, 255, 255, 1);
    max-width: 80%;
    margin: 0 auto;
}

#storesHeader #selectStoreRow div {
    padding: 25px;
}

#storesHeader #selectStoreRow h5 {
    font-size: 20px;
    margin-bottom: 0;
}

#storesHeader #selectStoreRow h5 svg {
    margin-bottom: -4px;
}

.findStore {
    text-align: center;
    border-right: 0.5px solid #9e9e9e;
}

.findStore h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: #35373b;
}

.selectStoreOption h5 {
    float: left;
}

.selectStoreOption .dropdown {
    display: none;
}

.selectStoreOption span svg {
    float: right;
    box-sizing: border-box;
}
