#storesHeader {  
    background: linear-gradient(
    rgba(121, 85, 72, 0.9), 
    rgba(0, 0, 0, 0.7)),
    url("../img/stores/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#storesHeader #selectStore {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
}

#storesHeader #selectStoreRow {
    background-color: rgba(255, 255, 255, 1);
    max-width: 80%;
    margin: 0 auto;
}

#storesHeader #selectStoreRow div {
    padding: 25px;
    padding-top: 25px;
    padding-bottom: 10px
}

#storesHeader #selectStoreRow h5 {
    font-size: 20px;
    margin-bottom: 0;
}

#storesHeader #selectStoreRow h5 svg {
    margin-bottom: -4px;
}

.findStore {
    text-align: center;
    border-right: 0.5px solid #9e9e9e;
}

.findStore h5 {
    font-weight: 400;
    text-transform: uppercase;
    color: #35373b;
}

.selectStoreOption h5 {
    float: left;
}

.selectStoreOption .dropdown .Ripple-parent {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.selectStoreOption .dropdown {
    height: 0px;
    width: 0px;
}

.selectStoreOption .dropdown-menu {
    top: -45px !important;
    left: -54px !important;
    border-radius: 0px !important;
    max-height: 300px;
    overflow-y: scroll;
}

.selectStoreOption .dropdown-menu button {
    letter-spacing: 1px;
}

.selectStoreOption .dropdown-menu button:focus {
    background-color: transparent !important;
    color: #212121 !important;
}

.selectStoreOption .dropdown-menu::-webkit-scrollbar {
    width: 10px;
}
 
.selectStoreOption .dropdown-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;
}
 
.selectStoreOption .dropdown-menu::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.selectStoreOption .dropdown-menu button {
    padding: 5px;
    font-size: 14px;
    text-transform: uppercase;
}

.selectStoreOption span svg {
    float: right;
    box-sizing: border-box;
}
